@font-face {
  font-family: 'MicroExtendFLF-Bold';
  src:url('/fonts/MicroExtendFLF-Bold.ttf.woff') format('woff'),
      url('/fonts/MicroExtendFLF-Bold.ttf.svg#MicroExtendFLF-Bold') format('svg'),
      url('/fonts/MicroExtendFLF-Bold.ttf.eot'),
      url('/fonts/MicroExtendFLF-Bold.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Official-Book-Italic';
  src:url('/fonts/Official-Book-Italic.ttf.woff') format('woff'),
      url('/fonts/Official-Book-Italic.ttf.svg#Official-Book-Italic') format('svg'),
      url('/fonts/Official-Book-Italic.ttf.eot'),
      url('/fonts/Official-Book-Italic.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GD-Digit13LED-OTF';
  src:url('/fonts/GD-Digit13LED-OTF.ttf.woff') format('woff'),
      url('/fonts/GD-Digit13LED-OTF.ttf.svg#GD-Digit13LED-OTF') format('svg'),
      url('/fonts/GD-Digit13LED-OTF.ttf.eot'),
      url('/fonts/GD-Digit13LED-OTF.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  /* outline: solid 2px; */
}


body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: hsla(0, 1%, 69%, 0.463);
  /* background-color: rgb(255, 255, 255);  */
  /* background-image: linear-gradient(to top right, rgb(229, 230, 229) 0%, rgb(44, 44, 44) 100%); */
}

#container {
  display: grid;
  grid-template-columns: repeat(5, 80px);
  /* grid-template-rows: repeat(4, minxmax(80px, 100px)); */
  gap: 12px;
  min-width: 300px;
  /* min-height: 500px;  */
  /* border: 10px solid white; */
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  /* background-color: white; */
  background-image: radial-gradient(ellipse farthest-corner
    at 20% 85%, #dbdbdb, #c2c2c2);
  border: 1px solid black
}

/* #display-container {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: center;
} */

#display {
  grid-column: 1 / -1;
  /* min-height: 60px; */
  height: 90px;
  text-align: end;
  /* font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI'; */
  font-family: 'GD-Digit13LED-OTF';
  font-size: 78px;
  font-weight: 500;
  border-radius: 10px;
  padding: 0px 10px;
  /* border: 2px solid green; */
  align-items: center;
  margin: 20px 0px;
}


/* The line ;grid-column: 1 / -1; is used to place a grid item in a 
CSS Grid Layout, spanning it from the first column line to the last 
column line. The grid-column property is a shorthand for 
grid-column-start and grid-column-end properties, which define the 
starting and ending column lines for a grid item developer.mozilla.org. */

input {
  margin: 0;
  padding: 0;
  /* border: 2px solid gold; */
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 4px solid ; */
  padding: 1px;
  border-radius: 40px;
  font-size: 45px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  /* background-color: rgb(51,55,227);  */
  background-color: rgb(255, 255, 255); 
  /* color: rgb(51,55,227); */
  /* color: rgba(255, 255, 255, .8); */
  background: linear-gradient(25deg, #e7e6e6, #b4b4b4);
  box-shadow: inset 2px -1px 1px 0 rgba(255, 255, 255, .2),
    inset -3px 2px 5px 0 rgba(0, 0, 0, .2),
    4px 1px 1px 0 rgba(0, 0, 0, .5),
    -1px -3px 1px 0 rgba(0, 0, 0, .5),
    4px -3px 1px 0 rgba(0, 0, 0, .5),
    -1px -1px 5px 0 rgba(0, 0, 0, .5);
}

.button:active {
  box-shadow: inset 2px -1px 1px 0 rgba(255, 255, 255, .2),
    inset -3px 2px 5px 0 rgba(0, 0, 0, .2),
    3px 1px 1px 0 rgba(0, 0, 0, .5),
    -1px -1px 1px 0 rgba(0, 0, 0, .5),
    3px -1px 1px 0 rgba(0, 0, 0, .5),
    -1px -1px 5px 0 rgba(0, 0, 0, .5),
    4px 0 1px 0 rgba(255, 255, 255, .3);
  transform: translate(1px, -1px);
}

#plus {
  /* border: 10px solid green; */
  grid-row: span 2;
}

#equals {
  /* border: 10px solid green; */
  grid-row: span 2;
}

.upper-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  /* padding: 20px; */
  padding-left: 5px;
}

.logo {
  font-size: 2rem;
  font-family: 'MicroExtendFLF-Bold';
  text-align: left;
}

.model-number {
  white-space: nowrap;
  font-size: 1.2rem;
  font-family: 'Official-Book-Italic';
  /* font-style: italic; */
  text-align: left;
}

.no_selection {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

