#clear {
  border: 10px solid green;
}

#number1,
#number2,
#number3,
#number4,
#number5,
#number6,
#number7,
#number8,
#number9,
#number0 {
  border: 10px solid red;
}

#plus {
  border: 10px solid green;
}

#minus {
  border: 10px solid green;
}

#multiply {
  border: 10px solid green;
}

#divide {
  border: 10px solid green;
}

#equals {
  border: 10px solid green;
}